pandas>=2.2
numpy>=2.3
scikit-learn
jsonschema>=4.0
pandas>=2.3.0
plotly>=6.2.0
markdown-it-py==3.0
markupsafe>=3.0
matplotlib>=3.10
openai>=1.93.0
python-dateutil>=2.5
python-dotenv>=1.0
requests>=2.30
smolagents>=1.19.0
transformers>=4.50
